.score-board {
  min-height: 10em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 2em;
}

.score-board p {
  font-size: 2rem;
}

.score-board span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}
